<div class="container container-profile">

  <div class="col-md-3">
    <%= render 'layouts/user_bar' %>
  </div>
  <div class="col-md-9">
    <%= render 'layouts/tabs' %>

    <div class="feed">

        <% @starred_repos.each do |repo| %>
          <li>
            <h3><%= link_to repo.full_name, stars_path %></h3>
            <div class="description">
              <%= repo.description %>
            </div>
            <div class="lang-date">
              <div class="language">
                <%= repo.language %>
              </div>
              <div class="date">
                <%= "Updated on #{repo.date_format(repo.updated_at)} "%>
              </div>
            </div>
            <hr>
          </li>
        <% end %>
      </div>
  </div>
</div>
