<div class="container container-profile">

  <div class="col-md-3">
    <ul class="user-info">
      <li><img class="profile-pic" src='https://avatars.githubusercontent.com/u/<%=current_user.uid%>'></li>
      <div class="profile-name">
        <li><h1 class="full-name"><%= current_user.name %></h1></li>
        <li class="username"><%= current_user.username %></li>
      </div>
      <li><%= current_user.location %></li>
      <li><%= current_user.email %></li>
      <li>Organizations: <a href='https://api.github.com/users/<%=current_user.username%>/orgs'>Organzations</a></li>
  </div>
  <div class="col-md-9">
    Starred:
    Followers: <a href='https://api.github.com/users/<%=current_user.username%>/followers'>Followers</a>
    Following: <a href='https://api.github.com/users/<%=current_user.username%>/following{/other_user}'>Following</a>
    <h3 class="contributions">Contribution Activity</h3>

        <% @all_commits.each do |commit| %>
          <li>
            <%= "Created commit in #{commit[:repo][:name]}" %><br>
            <%= "Message: #{commit[:payload][:commits].first[:message]}" %>
            <hr>
          </li>
        <% end %>
  </div>
</div>
