<ul class="user-info">
  <li><img class="profile-pic" src='https://avatars.githubusercontent.com/u/<%=current_user.uid%>'></li>
  <div class="profile-name">
    <li><h1 class="full-name"><%= current_user.name %></h1></li>
    <li class="username"><%= current_user.username %></li>
  </div>
  <hr>
  <li><span class="glyphicon glyphicon-map-marker"  aria-hidden="true"></span><%= current_user.location %></li>
  <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href='mailto:<%="#{current_user.email}"%>'><%= current_user.email %></a></li>
  <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span>Joined: <%= current_user.created_at.strftime("%b %e, %Y") %></li>
  <hr>
  <h4>Organizations</h4>
    <div class="avatar-group">
      <% GithubService.new.orgs(User.find(current_user.id)).each do |org| %>
          <img class="org-avatar" src="https://avatars.githubusercontent.com/u/<%=org[:id]%>">
      <% end %>
    </div>
</ul>
